.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
    img{
        height: 100px;
        padding-bottom: 0;
    }
    }

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    background-color: $white;
    border: none;
    cursor: pointer;
    }

.hidden {
    display: none;
    }

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}